---
---

@import "{{ site.theme }}";
body {
  background-color: #f6f7fe;
  font-family: Zilla Slab,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h2, a, h4 {
    color: #2ec4b6;
}
h1 {
color: #011627;
}

p, li {
    color: #011627;
}
h3, a:hover {
    color: #ff9f1c;
}
.fa, .fab, .fal, .far, .fas {
 color: #ff9f1c;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  background: #f8f8f8;
  border:1px solid #e5e5e5;
}

th, td {
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
}

th {
  color:#444;
}

ul.downloads {
  background: #f4f4f4;
  border:1px solid #e0e0e0;
}

.downloads a {
  color:#676767;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
}

.downloads a strong {
  color:#222;
}

hr {
  background:#ffeacc;
}
  section {
    border:1px solid #ffeacc;
  }
