<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="/assets/css/style.css" }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Diner Axel<font color=#ff9f1c>.</font></h1>
        <p>{{ site.t[page.lang].Intro }}</p>

        <h4>
          <a href="{{ site.t[page.lang].CV.url }}">{{ site.t[page.lang].CV.name }}</a><br><br>
          <a href="#Emplois">{{ site.t[page.lang].Emploi }}</a><br>
          <a href="#Formation">{{ site.t[page.lang].Formation }}</a><br>
          <a href="#Compétences">{{ site.t[page.lang].Competence }}</a><br>
          <a href="#Certifications">{{ site.t[page.lang].Certification }}</a><br>
          <a href="#Langues">{{ site.t[page.lang].Langues }}</a><br></h4>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
